<?xml version="1.0" encoding="UTF-8"?>

<configuration>

   <!--  <property name="LOG_PATH" value="./log/sa-user.log"/> -->
   <!-- 		<property name="LOG_PATH" value="c:/temp/sa-user.log"/> -->

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>5MB</maxFileSize>
            <!-- total size of all archive files, if total size > 10MB, it will delete old archived file -->
            <totalSizeCap>10MB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.sa.user" level="error" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>